@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

body {
  font-family: Raleway, sans-serif;
  background: #1b1523;
  margin: 0;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}
